<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brak dostępu</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <h1 class="display-4">Brak dostępu</h1>
    <p>Nie masz wystarczających uprawnień aby wyświetlić tą stronę.</p>
    <br>
    <form th:action="@{/}" method="get">
        <button class="btn btn-md btn-success btn-block" type="Submit">Strona Główna</button>
    </form>
</body>
</html>