<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodawanie ksiazki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <body>
    <div class="container">
        <h1 class="display-4">Dodaj książkę</h1>

        <!--/*@thymesVar id="book" type="com.library.model.Book"*/-->
        <!--/*@thymesVar id="author" type="String"*/-->
        <!--/*@thymesVar id="name" type="String"*/-->
        <!--/*@thymesVar id="price" type="Int"*/-->

        <div class="container">
            <form action="#" th:action="@{addbook}" th:object="${book}" method="post">
                <div class="row">
                    <div class="form-group col-xs-4">
                        <p><input  type="text" class="form-control" id="author" title="Autor" th:field="*{author}" placeholder="Autor"  required="required"/></p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <p><input type="text" class="form-control" id="name" title="Nazwa" th:field="*{name}" placeholder="Nazwa" required="required"/></p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                         <p><input type="text" class="form-control" id="isbn" title="ISBN" th:field="*{isbn}" placeholder="ISBN" required="required"/></p>
                    </div>
                </div>
                <p><button class="btn .btn-md btn-primary" name="Add" value="Add" type="Submit" th:text="Dodaj"></button> <button class="btn .btn-md btn-primary" name="Reset" value="Reset" type="Reset" th:text="Resetuj"></button></p>
            </form>
            <a th:href="@{/home}" class="btn btn-md btn-success" type="Submit">Powrót</a>
        </div>
    </div>
    </body>
</html>