<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Zbiór ksiąg</title>
</head>
<body>
    <h1>
        Księgozbiór
    </h1>

    <div>
        <form action="#" th:action="@{allbooks/search}" method="post">
            <p>Wyszukaj: <input type="text" id="phrase" name="phrase" title="Wyszukaj..." /></p>
            <p><input type="submit" value="Wyszukaj" /></p>
        </form>
    </div>

    <br>

    <div>
        <table class="table table-bordered" border="1" id="dataTable" cellspacing="0">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Autor</th>
                <th>Cena</th>
                <th>Status</th>
                <th>Aktualizuj</th>
                <th>Usun</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="book" type="com.library.model.Book"*/-->
            <!--/*@thymesVar id="bookList" type="com.library.model.Book"*/-->
            <tr th:each="book : ${bookList}">
                <td th:text="${book.name}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.status}"></td>
                <td><a th:href="'/updatebook/' + ${book.bookID}">Aktualizuj</a></td>
                <td><a th:href="'/deletebook/' + ${book.bookID}">Usun</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>