<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Zbiór ksiąg</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
    <h1 class="display-4">Księgozbiór</h1>

    <div class="form-group container">
        <form action="#" th:action="@{bookssearch}" method="post">
            <p><input type="text" class="form-control" id="phrase" name="phrase" title="Search" placeholder="Wyszukaj..." /></p>
            <p><button class="btn .btn-md btn-primary search-button" name="Search" value="Search" type="Submit" th:text="Wyszukaj"></button></p>
        </form>
    </div>
        <br>
            <p class="text-center font-weight-bold p-3 mb-2 bg-warning text-dark" th:text="${notFoundMessage}"></p>
        <br>
        <table class="table table-bordered" border="1" id="dataTable" cellspacing="0">
            <thead>
            <tr>
                <th><a th:href="'/sortbooks/'+'1'">Nazwa</a></th>
                <th><a th:href="'/sortbooks/'+'2'">Autor</a></th>
                <th><a th:href="'/sortbooks/'+'3'">Ilość</a></th>
                <th>Kod ISBN</th>
                <th>Status</th>
                <th sec:authorize="hasAuthority('ADMIN')">Aktualizuj</th>
                <th sec:authorize="hasAuthority('ADMIN')">Usuń</th>
                <th sec:authorize="hasAuthority('ADMIN')">Wypożycz</th>
                <th sec:authorize="hasAuthority('ADMIN')">Oddaj książkę</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="book" type="com.library.model.Book"*/-->
            <!--/*@thymesVar id="bookList" type="com.library.model.Book"*/-->
            <tr th:each="book : ${bookList}">
                <td th:text="${book.name}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.quantity}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.status == 'free'} ? 'Dostępna' : 'Wypożyczona'"></td>
                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="'/updatebook/' + ${book.bookID}">Aktualizuj</a></td>
                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="'/deletebook/' + ${book.bookID}">Usuń</a></td>
                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="'/bookborrow/' + ${book.bookID}">Wypożycz</a></td>
                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="'/giveback/' + ${book.bookID}">Oddaj książkę</a></td>
            </tr>
            </tbody>
        </table>
        <th sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/home}" class="btn btn-md btn-success" type="Submit">Strona Domowa</a></th>
        <th sec:authorize="hasAuthority('USER')"><a th:href="@{/home}" class="btn btn-md btn-success" type="Submit">Strona Domowa</a></th>
        <a th:href="@{/}" class="btn btn-md btn-success" type="Submit">Strona Główna</a>
    </div>
</body>
</html>