<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Wypożyczone książki</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1 class="display-4">Wypożyczone książki</h1>
    <br>
    <table class="table table-bordered" border="1" id="dataTable" cellspacing="0">
        <thead>
        <tr>
            <th>Id wypozyczenia</th>
            <th>Ksiazka</th>
            <th>User</th>
            <th>Data wypozyczenia</th>
            <th>Data zwrotu</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="book" type="com.library.model.Book"*/-->
        <!--/*@thymesVar id="bookList" type="com.library.model.Book"*/-->
        <tr th:each="BookBorrow : ${bookList}">
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.quantity}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.status == 'free'} ? 'Dostępna' : 'Wypożyczona'"></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="'/updatebook/' + ${book.bookID}">Aktualizuj</a></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="'/deletebook/' + ${book.bookID}">Usuń</a></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="'/bookborrow/' + ${book.bookID}">Wypożycz</a></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="'/giveback/' + ${book.bookID}">Oddaj książkę</a></td>
        </tr>
        </tbody>
    </table>
    <th sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/home}" class="btn btn-md btn-success" type="Submit">Strona Domowa</a></th>
    <th sec:authorize="hasAuthority('USER')"><a th:href="@{/home}" class="btn btn-md btn-success" type="Submit">Strona Domowa</a></th>
    <a th:href="@{/}" class="btn btn-md btn-success" type="Submit">Strona Główna</a>
</div>
</body>
</html>