<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Biblioteka</title>
        <link rel="stylesheet" type="text/css" th:href="@{/web-resources/libstyle.css}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
    <img src="http://ekonomik.olsztyn.pl/old/files/galerie/765/01.jpg" alt="logo" title="logo" height="250" width="250" class="center-block"/>
        <h1 align="center">Witamy w Systemie Zarządzania Biblioteką</h1>
        <br/>
        <form th:action="@{/login}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Logowanie</button>
        </form>
        <br/>
        <form th:action="@{/register}" method="get">
            <button class="btn btn-md btn-primary btn-block" type="Submit">Rejestracja</button>
        </form>
        <br/>
        <form th:action="@{/allbooks}" method="get">
            <button class="btn btn-md btn-info btn-block" type="Submit">Księgozbiór</button>
        </form>
        <br/>
    </body>

</html>