<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-success btn-block" type="Submit">Strona Główna</button>
</form>
<!--<form th:action="@{/register}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Rejestracja</button>
</form>-->

<div class="container">

    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading">Logowanie do systemu biblioteki</h3>

        <br/>

        <input type="text" id="username" name="username"  th:placeholder="username"
               class="form-control" /> <br/>
        <input type="password"  th:placeholder="password"
               id="password" name="password" class="form-control" /> <br />

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Nazwa użytkownika lub hasło jest nieprawidłowe. Spróbuj ponownie.</p>
        </div>
        <button class="btn btn-lg btn-primary" name="Submit" value="Login" type="Submit" th:text="Zaloguj"></button>
        <a th:href="@{/register}" class="btn btn-lg btn-warning">Rejestracja</a>
    </form>
</div>
</body>
