<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edytowanie ksiazki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
    <h1 class="display-4">Edytuj książkę</h1>
    <br>
        <div class="container">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Autor</th>
                    <th>Cena</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="book" type="com.library.model.Book"*/-->
                <!--/*@thymesVar id="bookList" type="com.library.model.Book"*/-->
                <tr>
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.quantity}"></td>
                    <td th:text="${book.status}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--/*@thymesVar id="book" type="com.library.model.Book"*/-->
        <!--/*@thymesVar id="author" type="String"*/-->
        <!--/*@thymesVar id="name" type="String"*/-->
        <!--/*@thymesVar id="price" type="Int"*/-->
        <div class="container">
            <form action="#" th:action="@{save}" th:object="${book}" method="post">
                <div class="row">
                    <div class="form-group col-xs-4">
                    <p><input type="text" class="form-control" id="author" title="Autor" th:field="*{author}" placeholder="Autor" required="required"/></p>
                 </div>
              </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <p><input type="text" class="form-control" id="name" title="Nazwa" th:field="*{name}" placeholder="Nazwa" required="required"/></p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <p><input type="number" class="form-control" id="isbn" title="ISBM" th:field="*{isbn}" placeholder="ISBN" required="required"/></p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <p><input type="number" class="form-control" id="quantity" title="Ilość" th:field="*{quantity}" placeholder="Ilość" required="required"/></p>
                    </div>
                </div>
                <p><input type="hidden" class="form-control" id="bookID" title="ID" th:field="*{bookID}" /></p>
                <p><button class="btn .btn-md btn-primary " name="Update" value="Update" type="Submit" th:text="Aktualizuj"></button> <button class="btn .btn-md btn-primary " name="Reset" value="Reset" type="Reset" th:text="Resetuj"></button></p>
                <a th:href="@{/allbooks}" class="btn btn-md btn-success" type="Submit">Powrót</a>
            </form>
        </div>
    </div>
</body>
</html>