<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodawanie ksiazki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Edytuj</h1>
<br>
<div>
    <table class="table table-bordered" border="1" id="dataTable" cellspacing="0">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Autor</th>
            <th>Cena</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="book" type="com.library.model.Book"*/-->
        <!--/*@thymesVar id="bookList" type="com.library.model.Book"*/-->
        <tr>
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.status}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!--/*@thymesVar id="book" type="com.library.model.Book"*/-->
<!--/*@thymesVar id="author" type="String"*/-->
<!--/*@thymesVar id="name" type="String"*/-->
<!--/*@thymesVar id="price" type="Int"*/-->

<form action="#" th:action="@{save}" th:object="${book}" method="post">
    <p>Autor: <input type="text" id="author" title="Autor" th:field="*{author}" /></p>
    <p>Nazwa: <input type="text" id="name" title="Nazwa" th:field="*{name}" /></p>
    <p>Cena: <input type="number" id="price" title="Cena" th:field="*{price}" /></p>
    <p>Cena: <input type="hidden" id="bookID" title="ID" th:field="*{bookID}" /></p>
    <p><input type="submit" value="Aktualizuj" /> <input type="reset" value="Resetuj" /></p>
</form>
</body>
</html>